.footer {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  height: 80px;
  align-content: center;
  padding: 0;
  padding-left: 26px;
}

.footer__copywrite {
  font-size: 16px;
  color: #b6bcbf;
  margin: 0;
  padding: 0px;
  padding-left: 80px;
}

.footer__links {
  display: flex;
  max-width: 400px;
  justify-content: space-between;
}

.footer__group-left {
  display: flex;
  margin: 0px;
  padding: 0px;
  padding-right: 11px;
}

.footer__group-right {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.footer__link {
  text-decoration: none;
  color: #1a1b22;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}

.footer__link_type_social {
  padding-right: 100px;
}

.footer__link_type_nav {
  padding-left: 30px;
}

@media screen and (min-width: 601px) and (max-width: 980px) {
  .footer {
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
  }
  .footer__copywrite {
    padding: 0px;
    margin: 0px;
    margin-left: 40px;
    width: 300px;
    height: 22px;
  }
  .footer__link {
    padding: 0px;
    margin: 0px;
    margin-right: 28px;
  }
  .footer__link_type_nav {
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    width: 82px;
    height: 24px;
  }
  .footer__link_type_social {
    margin: 0px;
    padding: 0px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .footer {
    display: grid;
    grid-template-areas:
      "socials"
      "copyright";
    height: 176px;
    max-width: 320px;
    margin: 0 auto;
    justify-content: space-around;
    align-content: center;
    padding: 0;
    padding-right: 26px;
    padding-top: 26px;
  }

  .footer__copywrite {
    width: 288px;
    grid-area: copyright;
    padding-left: 15px;
    padding-top: 20px;
  }

  .footer__group-left {
    display: flex;
    flex-direction: column;
  }

  .footer__link {
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
  .footer__link_type_social {
    margin: 0px;
    padding: 0px;
    padding-left: 25px;
  }
  .footer__link_type_nav {
    padding-bottom: 15px;
    padding-top: 20px;
  }
}
