.searchform {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 608px;
  justify-content: center;
}

.searchform__title {
  display: flex;
  width: 608px;
  font-size: 60px;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: white;
  margin: 0;
  padding-top: 80px;
  line-height: 64px;
  margin: 0 0 32px;
  max-width: 608px;
}

.searchform__subtitle {
  display: flex;
  max-width: 608px;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  color: white;
  line-height: 24px;
  margin: 0 0 88px;
}

.searchform__input-wrapper {
  display: flex;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
}

.searchform__input {
  border: none;
  flex-grow: 2;
  background-color: #fff;
  color: #1a1b22;
  padding-left: 24px;
  font-size: 16px;
  border-radius: 100px;
}

.searchform__input-error {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #ff0000;
  font-size: 18px;
  padding-bottom: 80px;
}
.searchform__input:focus {
  outline: 2px solid #347eff;
}

.searchform__button {
  width: 168px;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .searchform {
    max-width: 448px;
    padding: 0 40px;
  }

  .searchform__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
    height: 80px;
  }

  .searchform__subtitle {
    font-size: 18px;
    line-height: 24px;
    height: 48px;
    max-width: 452px;
  }

  .searchform__button {
    width: 160px;
    height: 56px;
  }
}

@media screen and (max-width: 480px) {
  .searchform__input-wrapper {
    max-width: 448px;
    flex-direction: column;
    background-color: transparent;
  }

  .searchform__input {
    height: 56px;
    margin: 0;
  }

  .searchform__button {
    width: 100%;
    height: 56px;
    margin: 16px 0 32px 0;
  }
}

@media screen and (max-width: 320px) {
  .searchform {
    max-width: 285px;
    padding: 0 16px;
  }

  .searchform__title {
    font-size: 36px;
    max-width: 285px;
    padding-top: 30px;
    margin: 0 0 16px;
  }

  .searchform__button {
    width: 100%;
    height: 56px;
    margin: 16px 0 0;
  }
}
