.savedNews {
  display: grid;
  grid-template-columns: repeat(3, minmax(224px, 1fr));
  grid-auto-columns: min-content;
  grid-gap: 8px;
  background: #f5f6f7;
  padding: 62px 104px;
  margin: 0 auto;
  max-width: 1440px;
}

@media screen and (max-width: 900px) {
  .savedNews {
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .savedNews {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 320px) {
  .savedNews {
    padding: 24px 16px;
    grid-gap: 8px 0;
  }
}
